/* Additional CSS for horizontal card layout */
.horizontal-card {
    max-width: 100%;
  }
  
  .horizontal-card .card-img {
    width: 150px;
    height: 150px;
  }

  .custom-button {
    background-color: #734376c4 !important;
    border-color: #734376c4;
    color: white; /* Optional: Set text color */
    border-radius: 5px;
  }
  
  /* Adjust styling as needed */
  